<!DOCTYPE html>
{%extends "tickets/base.html"%}

<html lang="en">
<body>
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            <br>
            <h1 class="mt-2 text-dark">{{heading}}</h1>
            <hr class="mt-0 mb-4">
            <div style="position: static">


                <div style="position: static">
                    <h1 class="mt-2 text-dark">{{heading_location}}</h1>
                    <br>
                    <div class="content-background">
                        <p>&emsp;&emsp;&emsp;Our story
Chaos and frenzy signified every theatre production in the school after arranged seating. Sure, the paper ticket-selling system worked. Every year people get to see what they want, but why not live easier? The frustration that people face when they lose tickets and when seating couldn’t be changed inspired us. We are a group of young programmers and designers who found each other in order to make a change. We aspire to replace the old paper system with a completely online system where ultimately, the exchange and reservation of a ticket can take place in the comfort of the home. Come and meet the team!</p>
                    </div>
                    <br>
                    <hr class="mt-0 mb-4 ">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
</body>
</html>
