{% extends 'tickets/base.html' %}

{% block title %}Email Verification{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            <br>
            <div style="position: static">
                <hr class="mt-1 mb-4 ">
                <div class="content-background">
                    <p>We have sent you an email, please confirm your email address to complete registration.</p>
                    <br>
                    <div style="text-align: center;">
                        <a href="/tickets/home">
                            <button class="btn btn-secondary">Return to Home Page</button>
                        </a>
                    </div>
                </div>
                <br>
            </div>
            <hr class="mt-3 mb-4 ">
        </div>
    </div>
</div>
{% endblock %}
