{% extends 'tickets/base.html' %}

{% block title %}Email Sent{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            <br>
            <div style="position: static">
                <hr class="mt-1 mb-4 ">
                <h1></h1>
                <div class="content-background">
                    <h1 class="mt-2">Check your inbox</h1>
                    <p>We've emailed you instructions for setting your password. You should receive the email
                        shortly!</p>
                </div>
                <br>
            </div>
            <hr class="mt-3 mb-4 ">
        </div>
    </div>
</div>

{% endblock %}
