{% extends 'tickets/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            <br>
            <div style="position: static">
                <h1 class="mt-2 text-light">Forgot your password?</h1>
                <hr class="mt-1 mb-4 ">
                <div class="content-background">
                    <p>Enter your email address below, and we'll email instructions for setting a new one.</p>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div style="text-align: center;">
                            <input type="submit" class="btn btn-success" value="Send me instructions!">
                        </div>
                    </form>
                </div>
                <br>
            </div>
            <hr class="mt-3 mb-4 ">
        </div>
    </div>
</div>
{% endblock %}
